{% extends 'base.html' %}

{% block content %}
    <main class="flex h-screen overflow-hidden">
        <aside class="w-[230px] min-w-[230px] h-screen p-4 bg-blue-600 text-white border-r border-neutral-200 flex flex-col justify-between flex-shrink-0">
            <section class="overflow-y-auto flex-1">
                <div class="font-semibold pl-4 pb-6 pt-4">Cafe ERP</div>
                
                <div class="text-xs px-4 py-1 text-white/40">Manufacturing</div>
                <a href="{% url 'product-list' %}" class="menu">
                    <svg xmlns="http://www.w3.org/2000/svg" width="1.35em" height="1.35em" viewBox="0 0 24 24">
                        <g fill="none" stroke="currentColor" stroke-width="1.5">
                            <path d="M3.5 10v8c0 1.886 0 2.828.586 3.414S5.614 22 7.5 22h9c1.886 0 2.828 0 3.414-.586S20.5 19.886 20.5 18v-8"/>
                            <path d="m2 8l1.278-4.258A2 2 0 0 1 5.193 2h13.614a2 2 0 0 1 1.915 1.742L22 8z" opacity=".5"/>
                            <path stroke-linecap="round" d="M10 12h4"/>
                        </g>
                    </svg>
                    Product</a>
                <a href="{% url 'bom-list' %}" class="menu">
                    <svg xmlns="http://www.w3.org/2000/svg" width="1.35em" height="1.35em" viewBox="0 0 24 24">
                        <g fill="none" stroke="currentColor" stroke-width="1.5">
                            <path d="M3 6.5c0-1.886 0-2.828.586-3.414S5.114 2.5 7 2.5h10c1.886 0 2.828 0 3.414.586S21 4.614 21 6.5v11c0 1.886 0 2.828-.586 3.414S18.886 21.5 17 21.5H7c-1.886 0-2.828 0-3.414-.586S3 19.386 3 17.5z"/>
                            <path stroke-linecap="round" d="M8 7h8M8 12h8M8 17h4" opacity=".5"/>
                        </g>
                    </svg>
                    Bill of Materials</a>
                <a href="{% url 'mo-list' %}" class="menu">
                    <svg xmlns="http://www.w3.org/2000/svg" width="1.35em" height="1.35em" viewBox="0 0 24 24">
                        <g fill="none" stroke="currentColor" stroke-width="1.5">
                            <path d="M2 12c0-4.714 0-7.071 1.464-8.536S7.286 2 12 2s7.071 0 8.535 1.464S22 7.286 22 12s0 7.071-1.465 8.535S16.714 22 12 22s-7.071 0-8.536-1.465S2 16.714 2 12Z"/>
                            <path stroke-linecap="round" d="m8.5 12.5l2 2l5-5" opacity=".5"/>
                        </g>
                    </svg>
                    Manufacturing Order</a>
                
                <div class="text-xs px-4 py-1 text-white/40 mt-4">Buying</div>
                <a href="{% url 'vendor-list' %}" class="menu">
                    <svg xmlns="http://www.w3.org/2000/svg" width="1.35em" height="1.35em" viewBox="0 0 24 24">
                        <g fill="none" stroke="currentColor" stroke-width="1.5">
                            <path d="M22 12c0 5.523-4.477 10-10 10S2 17.523 2 12S6.477 2 12 2s10 4.477 10 10Z" opacity=".5"/>
                            <path stroke-linecap="round" d="M15 9.5c0 1.38-1.343 2.5-3 2.5s-3-1.12-3-2.5S10.343 7 12 7s3 1.12 3 2.5ZM12 12.5v4m-2.5 0h5"/>
                        </g>
                    </svg>
                    Vendor</a>
                <a href="{% url 'po-list' %}" class="menu">
                    <svg xmlns="http://www.w3.org/2000/svg" width="1.35em" height="1.35em" viewBox="0 0 24 24">
                        <g fill="none" stroke="currentColor" stroke-width="1.5">
                            <path d="M3 10c0-3.771 0-5.657 1.172-6.828S7.229 2 11 2h2c3.771 0 5.657 0 6.828 1.172S21 6.229 21 10v4c0 3.771 0 5.657-1.172 6.828S16.771 22 13 22h-2c-3.771 0-5.657 0-6.828-1.172S3 17.771 3 14z"/>
                            <path stroke-linecap="round" d="m8 10l2 2l4-4" opacity=".5"/>
                            <path stroke-linecap="round" d="M8 16h5"/>
                        </g>
                    </svg>
                    Purchase Order</a>
                <a href="{% url 'rfq-list' %}" class="menu">
                    <svg xmlns="http://www.w3.org/2000/svg" width="1.35em" height="1.35em" viewBox="0 0 24 24">
                        <g fill="none" stroke="currentColor" stroke-width="1.5">
                            <path d="M3 10c0-3.771 0-5.657 1.172-6.828S7.229 2 11 2h2c3.771 0 5.657 0 6.828 1.172S21 6.229 21 10v4c0 3.771 0 5.657-1.172 6.828S16.771 22 13 22h-2c-3.771 0-5.657 0-6.828-1.172S3 17.771 3 14z" opacity=".5"/>
                            <path stroke-linecap="round" d="M8 10h8M8 14h5"/>
                        </g>
                    </svg>
                    Request for Quotation</a>
                
                <div class="text-xs px-4 py-1 text-white/40 mt-4">Selling</div>
                <a href="{% url 'customer-list' %}" class="menu">
                    <svg xmlns="http://www.w3.org/2000/svg" width="1.35em" height="1.35em" viewBox="0 0 24 24">
                        <g fill="none" stroke="currentColor" stroke-width="1.5">
                            <circle cx="12" cy="6" r="4"/>
                            <path d="M20 17.5c0 2.485 0 4.5-8 4.5s-8-2.015-8-4.5S7.582 13 12 13s8 2.015 8 4.5Z" opacity=".5"/>
                        </g>
                    </svg>
                    Customer</a>
                <a href="{% url 'quotation-list' %}" class="menu">
                    <svg xmlns="http://www.w3.org/2000/svg" width="1.35em" height="1.35em" viewBox="0 0 24 24">
                        <g fill="none" stroke="currentColor" stroke-width="1.5">
                            <path d="M3 10c0-3.771 0-5.657 1.172-6.828S7.229 2 11 2h2c3.771 0 5.657 0 6.828 1.172S21 6.229 21 10v4c0 3.771 0 5.657-1.172 6.828S16.771 22 13 22h-2c-3.771 0-5.657 0-6.828-1.172S3 17.771 3 14z" opacity=".5"/>
                            <path stroke-linecap="round" d="M8 10h8M8 14h5"/>
                        </g>
                    </svg>
                    Quotation</a>
                <a href="{% url 'so-list' %}" class="menu">
                    <svg xmlns="http://www.w3.org/2000/svg" width="1.35em" height="1.35em" viewBox="0 0 24 24">
                        <g fill="none" stroke="currentColor" stroke-width="1.5">
                            <path d="M3 10c0-3.771 0-5.657 1.172-6.828S7.229 2 11 2h2c3.771 0 5.657 0 6.828 1.172S21 6.229 21 10v4c0 3.771 0 5.657-1.172 6.828S16.771 22 13 22h-2c-3.771 0-5.657 0-6.828-1.172S3 17.771 3 14z"/>
                            <path stroke-linecap="round" d="m8 10l2 2l4-4" opacity=".5"/>
                            <path stroke-linecap="round" d="M8 16h5"/>
                        </g>
                    </svg>
                    Sales Order</a>
                <a href="{% url 'invoice-list' %}" class="menu">
                    <svg xmlns="http://www.w3.org/2000/svg" width="1.35em" height="1.35em" viewBox="0 0 24 24">
                        <g fill="none" stroke="currentColor" stroke-width="1.5">
                            <path d="M2.5 12c0-4.478 0-6.718 1.391-8.109S7.521 2.5 12 2.5c4.478 0 6.718 0 8.109 1.391S21.5 7.521 21.5 12v.5c0 4.478 0 6.718-1.391 8.109S16.479 22 12 22s-6.718 0-8.109-1.391S2.5 16.979 2.5 12.5z"/>
                            <path stroke-linecap="round" d="M10 17V7l-2 2" opacity=".5"/>
                            <path stroke-linecap="round" d="M14 17v-4c0-1.886 0-2.828.586-3.414S16.114 9 18 9"/>
                        </g>
                    </svg>
                    Sales Invoice</a>
                
                <div class="text-xs px-4 py-1 text-white/40 mt-4">Inventory</div>
                <a href="{% url 'stock-list' %}" class="menu">
                    <svg xmlns="http://www.w3.org/2000/svg" width="1.35em" height="1.35em" viewBox="0 0 24 24">
                        <g fill="none" stroke="currentColor" stroke-width="1.5">
                            <path d="M2 12c0-4.714 0-7.071 1.464-8.536S7.286 2 12 2s7.071 0 8.535 1.464S22 7.286 22 12s0 7.071-1.465 8.535S16.714 22 12 22s-7.071 0-8.536-1.465S2 16.714 2 12Z"/>
                            <path d="M10 8v8M14 8v8" opacity=".5"/>
                        </g>
                    </svg>
                    Stock Levels</a>
                <a href="{% url 'warehouse-list' %}" class="menu">
                    <svg xmlns="http://www.w3.org/2000/svg" width="1.35em" height="1.35em" viewBox="0 0 24 24">
                        <g fill="none" stroke="currentColor" stroke-width="1.5">
                            <path d="M22 22H2"/>
                            <path d="M17 22V6c0-1.886 0-2.828-.586-3.414S14.886 2 13 2h-2c-1.886 0-2.828 0-3.414.586S7 4.114 7 6v16" opacity=".5"/>
                            <path stroke-linecap="round" d="M10 8h4m-4 4h4"/>
                        </g>
                    </svg>
                    Warehouses</a>
                <a href="{% url 'location-list' %}" class="menu">
                    <svg xmlns="http://www.w3.org/2000/svg" width="1.35em" height="1.35em" viewBox="0 0 24 24">
                        <g fill="none" stroke="currentColor" stroke-width="1.5">
                            <circle cx="12" cy="11" r="3" opacity=".5"/>
                            <path d="M21 10.818c0 5.302-5.08 9.576-7.875 11.454a1.9 1.9 0 0 1-2.25 0C8.08 20.394 3 16.12 3 10.818C3 5.976 7.03 2 12 2s9 3.976 9 8.818Z"/>
                        </g>
                    </svg>
                    Locations</a>
                <a href="{% url 'picking-list' %}" class="menu">
                    <svg xmlns="http://www.w3.org/2000/svg" width="1.35em" height="1.35em" viewBox="0 0 24 24">
                        <g fill="none" stroke="currentColor" stroke-width="1.5">
                            <path d="m13 2l-.1.028c-1.562.43-2.343.646-2.894 1.196c-.55.55-.766 1.332-1.196 2.894L8 9m8 13l.1-.028c1.562-.43 2.343-.646 2.894-1.196s.766-1.332 1.196-2.894L21 15" opacity=".5"/>
                            <path d="M9.825 2h4.35c1.925 0 2.888 0 3.528.562c.64.562.783 1.503 1.07 3.385l.576 3.77c.477 3.127.716 4.69-.078 5.763c-.795 1.073-2.362 1.273-5.497 1.673l-2.058.263c-1.85.237-2.775.355-3.609.02c-.835-.336-1.443-1.015-2.66-2.372L3.29 12.627c-1.197-1.337-1.796-2.005-1.81-2.78c-.012-.774.567-1.458 1.725-2.827l1.476-1.746C6.207 3.454 6.97 2.544 8.007 2.272C9.044 2 10.153 2 12.37 2Z"/>
                        </g>
                    </svg>
                    Stock Pickings</a>
                <a href="{% url 'stock-move-list' %}" class="menu">
                    <svg xmlns="http://www.w3.org/2000/svg" width="1.35em" height="1.35em" viewBox="0 0 24 24">
                        <g fill="none" stroke="currentColor" stroke-width="1.5">
                            <path d="M12 2v20M22 12H2" opacity=".5"/>
                            <path stroke-linecap="round" stroke-linejoin="round" d="M19 15l3-3l-3-3M5 9l-3 3l3 3M15 5l-3-3l-3 3M9 19l3 3l3-3"/>
                        </g>
                    </svg>
                    Stock Moves</a>
                
                <div class="text-xs px-4 py-1 text-white/40 mt-4">HR</div>
                <a href="{% url 'announcement-list' %}" class="menu">
                    <svg xmlns="http://www.w3.org/2000/svg" width="1.35em" height="1.35em" viewBox="0 0 24 24">
                        <g fill="none" stroke="currentColor" stroke-width="1.5">
                            <path d="M2 12.204c0-2.289 0-3.433.52-4.381c.518-.949 1.467-1.537 3.364-2.715l2-1.241C9.889 2.622 10.892 2 12 2s2.11.622 4.116 1.867l2 1.241c1.897 1.178 2.846 1.766 3.365 2.715S22 9.915 22 12.203v1.522c0 3.9 0 5.851-1.172 7.063S17.771 22 14 22h-4c-3.771 0-5.657 0-6.828-1.212S2 17.626 2 13.725z" opacity=".5"/>
                            <path stroke-linecap="round" d="M12 15v3"/>
                        </g>
                    </svg>
                    Announcements</a>
                <a href="{% url 'employee-list' %}" class="menu">
                    <svg xmlns="http://www.w3.org/2000/svg" width="1.35em" height="1.35em" viewBox="0 0 24 24">
                        <g fill="none" stroke="currentColor" stroke-width="1.5">
                            <circle cx="9" cy="6" r="4"/>
                            <path d="M12.5 4.341a3 3 0 1 1 0 3.318" opacity=".5"/>
                            <ellipse cx="9" cy="17" rx="7" ry="4"/>
                            <path stroke-linecap="round" d="M18 14c1.754.385 3 1.359 3 2.5c0 1.03-1.014 1.923-2.5 2.37" opacity=".5"/>
                        </g>
                    </svg>
                    Employees</a>
                <a href="{% url 'payroll-list' %}" class="menu">
                    <svg xmlns="http://www.w3.org/2000/svg" width="1.35em" height="1.35em" viewBox="0 0 24 24">
                        <g fill="none" stroke="currentColor" stroke-width="1.5">
                            <path d="M9 19c-2.809 0-4.213 0-5.222-.674a4 4 0 0 1-1.104-1.104C2 16.213 2 14.81 2 12s0-4.213.674-5.222a4 4 0 0 1 1.104-1.104C4.787 5 6.19 5 9 5h6c2.809 0 4.213 0 5.222.674a4 4 0 0 1 1.104 1.104C22 7.787 22 9.19 22 12s0 4.213-.674 5.222a4 4 0 0 1-1.104 1.104C19.213 19 17.81 19 15 19z"/>
                            <path d="M9 9a3 3 0 1 0 0 6m6-6a3 3 0 1 1 0 6" opacity=".5"/>
                            <path stroke-linecap="round" d="M9 5v13.5M15 5v13.5"/>
                        </g>
                    </svg>
                    Payroll</a>
                
                {% if user_settings.role == 'manager' %}
                <div class="text-xs px-4 py-1 text-white/40 mt-4">Settings</div>
                <a href="{% url 'category-list' %}" class="menu">
                    <svg xmlns="http://www.w3.org/2000/svg" width="1.35em" height="1.35em" viewBox="0 0 24 24">
                        <g fill="none" stroke="currentColor" stroke-width="1.5">
                            <path d="M4 9.5h16M4 14.5h16" opacity=".5"/>
                            <rect width="20" height="16" x="2" y="4" rx="3"/>
                        </g>
                    </svg>
                    Categories</a>
                <a href="{% url 'uom-list' %}" class="menu">
                    <svg xmlns="http://www.w3.org/2000/svg" width="1.35em" height="1.35em" viewBox="0 0 24 24">
                        <g fill="none" stroke="currentColor" stroke-width="1.5">
                            <path d="M12 22c5.523 0 10-4.477 10-10S17.523 2 12 2S2 6.477 2 12s4.477 10 10 10Z" opacity=".5"/>
                            <path stroke-linecap="round" d="M12 6v12m4-10l-4 10m-4-4h8"/>
                        </g>
                    </svg>
                    Units of Measure</a>
                <a href="{% url 'payroll-process' %}" class="menu">
                    <svg xmlns="http://www.w3.org/2000/svg" width="1.35em" height="1.35em" viewBox="0 0 24 24">
                        <path fill="currentColor" d="M19.739 4.261a6.867 6.867 0 0 0-9.711 0l-.72.721a.75.75 0 0 0 1.06 1.06l.72-.72a5.367 5.367 0 1 1 7.59 7.59l-.72.72a.75.75 0 0 0 1.06 1.06l.72-.72a6.867 6.867 0 0 0 0-9.71M6.043 9.307a.75.75 0 0 1 0 1.06l-.721.722a5.367 5.367 0 1 0 7.59 7.59l.72-.722a.75.75 0 0 1 1.06 1.06l-.72.722a6.867 6.867 0 0 1-9.71-9.711l.72-.72a.75.75 0 0 1 1.06 0"/>
                        <path fill="currentColor" d="M14.693 9.307a.75.75 0 0 1 0 1.06l-4.325 4.326a.75.75 0 1 1-1.06-1.06l4.324-4.326a.75.75 0 0 1 1.06 0"/>
                    </svg>
                    Process Payroll</a>
                {% endif %}
            </section>
            <form method="post" action="{% url 'logout' %}">
                {% csrf_token %}
                <button class="bg-white text-black font-medium font-semibold text-xs ">Logout</button>
            </form>
        </aside>
        <div class="flex-1 bg-neutral-50 h-screen overflow-y-auto">
            <header class="shadow-lg shadow-neutral-50 border-b border-neutral-200 p-4 bg-white sticky top-0 z-10">{% block page_name %}
                Dashboard {% endblock %}</header>
            <div class="p-6">{% block dashboard_content %} {% endblock %}</div>
        </div>
    </main>
{% endblock %}
